/M14/Projects/TeamPlayerModel/dist/
/M14/Projects/David/TeamPlayerModel/dist/
/M14/Projects/David/TeamPlayerModel/nbproject/private/
/M14/Projects/Master/TeamPlayerMVC-master/nbproject/private/
/M14/Projects/Singleton/nbproject/private/
/M14/Projects/Singleton/build/
/M14/Projects/Singleton/dist/
/M14/Projects/JavaApplication12/nbproject/private/
/M03/Projects/2nd Course/StoreApp/nbproject/private/
/M03/Projects/2nd Course/ShoppingListAp2/build/
/M03/Projects/2nd Course/ShoppingListAp2/nbproject/private/
/M03/Projects/2nd Course/ShoppingListAp2/dist/
/M03/Projects/2nd Course/StoreApp/build/
/M03/Projects/2nd Course/StoreAppD/nbproject/private/
/M03/Projects/2nd Course/StoreAppD/dist/
/M03/Projects/2nd Course/StoreAppD/build/
