#showResult{
    margin: 0 auto;
    display: flex;
    justify-content: center;
    margin-top: 10%;
    text-align: center;
    width: 500px;
}
#formulari{
    margin: 0 auto;
    display: flex;
    justify-content: center;
    margin-top: 10%;
    border: 2px solid black;
    width: 30rem;
    text-align: center;
    padding-bottom: 12px;
}
#resultado{
    margin: 0 auto;
    display: flex;
    justify-content: center;
    margin-top: 10%;
    text-align: center;
}


.green_1, .green_2{
    background-color: green;
}
.blue_1, .blue_2{
    background-color: blue;
}
.red_1, .red_2{
    background-color: red;
}
.purple_1, .purple_2{
    background-color: purple;
}
.orange_1, .orange_2{
    background-color: orange;
}
.black_1, .black_2{
    background-color: black;
}
.brown_1, .brown_2{
    background-color: brown;
}
.yellow_1, .yellow_2{
    background-color: yellow;
}

.casilla{
    background-color: gray;
}