#showResult{
    margin: 0 auto;
    display: flex;
    justify-content: center;
    margin-top: 10%;
    text-align: center;
    width: 560px;
}
#formulari{
    margin: 0 auto;
    display: flex;
    justify-content: center;
    margin-top: 10%;
    border: 2px solid black;
    width: 30rem;
    text-align: center;
    padding-bottom: 12px;
}
#resultado{
    margin: 0 auto;
    display: flex;
    justify-content: center;
    margin-top: 10%;
    text-align: center;
}


.green{
    background-color: green;
}
.blue{
    background-color: blue;
}
.red{
    background-color: red;
}
.purple{
    background-color: purple;
}
.orange{
    background-color:orangered;
}
.black{
    background-color: black;
}
.brown{
    background-color: chocolate;
}
.yellow{
    background-color: yellow;
}

.default{
    background-color: gray;
}