/*#formulario{
    margin-top: 3rem!important;
}*/
.centrarX{
    margin: 0 auto;
    display: flex;
    justify-content: center;
    width: fit-content;
}
#dtabla{
    margin: 0 auto;
    display: flex;
    justify-content: center;
    width: fit-content;
    
}