#showResult{
    margin: 0 auto;
    display: flex;
    justify-content: center;
    margin-top: 10%;
    text-align: center;
    width: 560px;
}
#formulari{
    margin: 0 auto;
    display: flex;
    justify-content: center;
    margin-top: 10%;
    border: 2px solid black;
    width: 30rem;
    text-align: center;
    padding-bottom: 12px;
}
#resultado{
    margin: 0 auto;
    display: flex;
    justify-content: center;
    margin-top: 10%;
    text-align: center;
}


.green{
    background-color: green;
}
.blue{
    background-color: blue;
}
.red{
    background-color: red;
}
.purple{
    background-color: purple;
}
.turquesa{
    background-color:turquoise;
}
.fucsia{
    background-color: mediumvioletred;
}
.pink{
    background-color: pink;
}
.yellow{
    background-color: yellow;
}

.default{
    background-color: rgb(37, 37, 37);
}